* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {

	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.h2 {
	font-size: 30px;
	line-height: 1;
	font-weight: 400;
	text-align: center;

	@media (min-width: $screen-sm-min) {

		font-size: 44px;
	}

	@media (min-width: $screen-sm-min) {

		font-size: 30px;
	}

	@media (min-width: $screen-md-min) {

		font-size: 42px;
	}
}


.table-row {

	.table-col {

	}
}

@media (min-width: $screen-md-min) {

	.table-row {
		width: 100%;
		display: table;

		.table-col {
			width: 50%;
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.nav {
	margin: 0 -30px;
	position: relative;

	.navbar-toggle {
		color: #262626;
		font-size: 20px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		padding: 17px 15px 17px 30px;

		i {
			margin-right: 12px;
		}

		&.active {
			background: rgba(0,0,0, 0.3);
		}
	}

	.btn-close {
		color: #fff;
		cursor: pointer;
		font-size: 20px;
		line-height: 20px;
		display: inline-block;
		margin: 0 0 15px -30px;

		i {
			margin-right: 10px;
		}
	}

	.nav-block {
		top: 100%;
		left: 0;
		z-index: 999;
		display: none;
		margin-top: 10px;
		background: #262626;
		position: absolute;
		padding: 20px 56px 10px 40px;
	}

	.primary-nav {
		padding: 0;
		float: left;
		width: 190px;
		list-style: none;
		margin: 0 0 20px 0;

		li {
			font-size: 16px;
			line-height: 24px;

			a {
				color: #fff;
			}
		}
	}


	.second-nav {
		margin: 0;
		padding: 0;
		float: left;

		list-style: none;

		li {
			font-size: 13px;
			line-height: 17px;
			margin-bottom: 4px;

			a {
				color: #ffbf01;
				text-decoration: underline;
			}

			&:last-child {
				color: #aaaaaa;
				font-size: 13px;
				line-height: 14px;
				padding-top: 10px;
				margin-bottom: 0;

				a {
					color: #aaaaaa;
					border-bottom: none;
					text-decoration: none;
				}

				span {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-xs-min) {

		.btn-close {
			margin-bottom: 25px;
		}

		.primary-nav {
			margin-right: 60px;

			li {
				font-size: 20px;
				line-height: 31px;
			}
		}

		.second-nav {
			width: 120px;

			li {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}

	}

	@media (min-width: $screen-sm-min) {
		margin-left: -40px;


		.navbar-toggle {
			padding-left: 40px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-left: -80px;

		.navbar-toggle {
			padding-left: 80px;
		}
	}
}