.b07 {
    color: #fff;
    background: #548cd6;


    .about {
        padding: 40px 30px;

        .about-title {
            font-size: 32px;
            line-height: 1;
            margin-bottom: 30px;
        }

        .about-text {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .about-author {
            font-size: 24px;
            margin-bottom: 70px;
        }
    }

    @media (min-width: $screen-sm-min) {

        .about {
            max-width: 640px;
            margin: 0 auto;
            padding: 45px 80px 45px 50px;

            .about-title {
                font-size: 44px;
            }

            .about-text {
                font-size: 24px;
            }

            .about-author {
                font-size: 32px;
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .about {

            .about-title {
                font-size: 30px;
                line-height: 1;
                margin-bottom: 30px;
            }

            .about-text {
                font-size: 12px;
            }

            .about-author {
                font-size: 13px;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        .about {
            max-width: 450px;
            margin: 0 0 0 130px;

            .about-title {
                font-size: 42px;
                margin-bottom: 40px;
            }

            .about-text {
                font-size: 16px;

            }

            .about-author {
                font-size: 18px;
                margin-bottom: 40px;
            }
        }
    }
}

