.b02 {
    z-index: 200;
    margin-top: -5px;
    position: relative;
}


.advantage {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        float: left;
        width: 100%;
        color: #fff;
        height: 350px;
        font-size: 20px;
        line-height: 1.1;
        text-align: center;
        padding: 40px 40px 0 40px;

        &.item1 {
            background: #3e8dc7;
        }

        &.item2 {
            background: #4cbddd;
        }

        &.item3 {
            background: #3e8dc7;
        }

        &.item4 {
            background: #4cbddd;
        }
    }

    h4 {
        color: #fff;
        line-height: 1;
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 0;
    }

    .advantage-item {
        width: 50px;
        height: 55px;
        margin: 0 auto 25px auto;
    }

    @media (min-width: $screen-xs-min) {

        li {
            width: 50%;
            font-size: 18px;
            padding-left: 20px;
            padding-right: 20px;

            &.item1 {
                background: #3e8dc7;
            }

            &.item2 {
                background: #4cbddd;
            }

            &.item3 {
                background: #4cbddd;
            }

            &.item4 {
                background: #3e8dc7;
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        li {
            width: 50%;
            font-size: 20px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    @media (min-width: $screen-md-min) {

        li {
            width: 25%;
            height: 232px;
            font-size: 12px;
            line-height: 1.3;
            padding-left: 30px;
            padding-right: 30px;

            &.item1 {
                background: #3e8dc7;
            }

            &.item2 {
                background: #4cbddd;
            }

            &.item3 {
                background: #3e8dc7;
            }

            &.item4 {
                background: #4cbddd;
            }
        }

        h4 {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .advantage-item {
            width: 34px;
            height: 36px;
            margin-bottom: 13px;
        }
    }

    @media (min-width: $screen-lg-min) {

        li {
            width: 25%;
            height: 320px;
            font-size: 16px;
            line-height: 1.3;
            padding-left: 40px;
            padding-right: 40px;

        }

        h4 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .advantage-item {
            width: 48px;
            height: 54px;
            margin-bottom: 13px;
        }
    }

}