.b03 {
    z-index: 1000;
    background: #fff;
    position: relative;
}

.tabs {

    .tabs-nav {
    }


    .tabs-item {
        display: none;

        &.active {
            display: block;
        }
    }
}

.faq {

    .support {
        top: 65px;
        right: 40px;
        color: #aaa;
        display: none;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        position: absolute;
    }

    .faq-title {
        font-size: 38px;
        font-weight: 500;
        line-height: 42px;
        margin-bottom: 15px;
    }

    .faq-left {
        padding: 40px 30px;
        position: relative;

        .faq-title {
            color: #3b3b3b;
        }

        .answer {
            padding: 30px;
            margin: 15px -30px 30px -30px;
        }
    }

    .faq-right {
        display: none;
        background: #4cbddd;

        .faq-title {
            color: #fff;
        }
    }

    .quest {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        padding-bottom: 20px;

        a {
            color: #3b3b3b;
            text-decoration: none;
            border-bottom: 1px dashed #3b3b3b;
        }

        &.active {

            a {
                color: #4cbddd;
                text-decoration: none;
                border-bottom-color: transparent;
            }
        }
    }

    .answer {
        color: #fff;
        font-size: 20px;
        background: #4cbddd;
    }

    @media (min-width: $screen-sm-min) {

        .faq-left {
            padding: 50px 75px 50px 55px;

            .answer {
                padding-left: 55px;
                padding-right: 75px;
                margin: 0 -75px 30px -55px;
            }

        }

        .quest {
            font-size: 28px;
            line-height: 32px;
        }

        .answer {
            font-size: 28px;
            line-height: 32px;
        }

        .support {

            font-size: 16px;
            line-height: 20px;
        }
    }


    @media (min-width: $screen-md-min) {
        width: 100%;
        display: table;

        .support {
            display: block;
        }

        .faq-title {
            margin-bottom: 30px;
        }

        .faq-left {
            width: 50%;
            display: table-cell;
            padding: 50px 170px 50px 55px;

            .answer {
                display: none;

                &.active {
                    display: none;
                }
            }
        }

        .faq-right {
            width: 50%;
            display: table-cell;
            padding: 80px 165px 80px 90px;
        }

        .quest {
            font-size: 17px;
            line-height: 17px;
        }

        .answer {
            font-size: 17px;
            line-height: 24px;
        }
    }

    @media (min-width: $screen-lg-min) {

        .faq-left {
            padding: 80px 170px 80px 80px;

            .answer {
                display: none;

                &.active {
                    display: none;
                }
            }
        }

        .faq-right {
            width: 50%;
            display: table-cell;
            padding: 80px 130px 80px 130px;
        }


        .quest {
            font-size: 20px;
            line-height: 20px;
            padding-bottom: 30px;

            &.active {
                font-size: 24px;
                line-height: 24px;
            }
        }

        .answer {
            font-size: 24px;
            line-height: 40px;
        }
    }
}