.b01 {
    position: relative;

    .block-inner {
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }

    .logo {
        width: 170px;
        margin: 0 auto 50px auto;
    }

    .slider {
        height: 500px;
        overflow: hidden;
        position: relative;

        .slider-item {
            outline: none;
            position: relative;

            &.slide1 {
                background: url("../img/Slide1.jpg") 50% 0 no-repeat;
                background-size: cover;
            }


            &.slide2 {
                background: url("../img/Slide2.jpg") 50% 0 no-repeat;
                background-size: cover;
            }


            &.slide3 {
                background: url("../img/Slide3.jpg") 50% 0 no-repeat;
                background-size: cover;
            }


            &.slide4 {
                background: url("../img/Slide4.jpg") 50% 0 no-repeat;
                background-size: cover;
            }
        }

        .container {
            padding-top: 50px;
        }

        .slider-row {
            width: 100%;
            display: table;
            background: rgba(0,0,0, 0.2);
        }

        .slider-col {
            height: 500px;
            display: table-cell;
            vertical-align: top;
        }

        .slick-dots {
            left: 0;
            right: 0;
            z-index: 500;
            bottom: 30px;
            font-size: 0;
            line-height: 0;
            text-align: center;
            position: absolute;

            li {
                width: 10px;
                height: 10px;
                margin: 0 6px;
                display: inline-block;

                button {
                    width: 10px;
                    height: 10px;
                    border: none;
                    outline: none;
                    overflow: hidden;
                    padding: 0;
                    display: inline-block;
                    @include border-radius(50%);
                    background: rgba(255,255,255, 0.5);
                }

                &.slick-active {

                    button {
                        background: rgba(255,255,255, 1);
                    }
                }
            }
        }
    }

    .content {
        margin: 0 auto;
        max-width: 450px;
        text-align: center;
    }

    h1 {
        color: #fff;
        font-size: 44px;
        font-weight: 500;
        line-height: 44px;
        margin-bottom: 25px;
    }

    .btn-down {
        left: 50%;
        z-index: 800;
        bottom: 40px;
        color: #fff;
        width: 22px;
        height: 26px;
        cursor: pointer;
        text-align: center;
        position: absolute;
        margin-left: -12px;
        text-decoration: none;
        display: inline-block;
        background: url("../img/arrow-down.svg") 50% 0 no-repeat;
        background-size: cover;
        @include opacity(0.7);

        &:hover {
            @include opacity(1);
        }
    }

    .nav-inner {
        top: 50px;
        left: 30px;
        right: 30px;
        position: absolute;
    }

    .nav {

        .navbar-toggle {
            color: #fff;
        }
    }


    @media (min-width: $screen-sm-min) {

        .logo {
            margin: 0 auto 80px auto;
        }

        .slider {
            height: 600px;
            overflow: hidden;

            .slider-item {
            }

            .slider-col {
                height: 600px;
            }


            .slick-dots {
                top: 50%;
                left: auto;
                width: 14px;
                right: 56px;
                bottom: auto;
                font-size: 0;
                line-height: 0;
                text-align: center;
                position: absolute;
                margin-top: -67px;

                li {
                    width: 10px;
                    height: 10px;
                    margin: 6px 0;
                    display: inline-block;

                    button {
                        width: 10px;
                        height: 10px;
                        border: none;
                        outline: none;
                        overflow: hidden;
                        padding: 0;
                        display: inline-block;
                        @include border-radius(50%);
                        background: rgba(255,255,255, 0.5);
                    }

                    &.slick-active {

                        button {
                            background: rgba(255,255,255, 1);
                        }
                    }
                }
            }
        }

        h1 {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 30px;
        }

        .nav-inner {
            left: 50px;
        }
    }

    @media (min-width: $screen-md-min) {

        .logo {
            margin: 0 auto 50px auto;
        }

        .slider {
            height: 550px;
            overflow: hidden;

            .container {
                padding-top: 0;
            }

            .slider-col {
                height: 550px;
                vertical-align: middle;
            }
        }

        h1 {
            margin-bottom: 45px;
        }

        .nav-inner {
            top: 50%;
            left: 40px;
            right: 30px;
            margin-top: -26px;
        }
    }

    @media (min-width: $screen-lg-min) {

        .slider {
            height: 700px;
            overflow: hidden;

            .slider-item {

            }

            .slider-col {
                height: 700px;
            }
        }


        h1 {
            margin-bottom: 45px;
        }

        .btn-down {
            bottom: 60px;
        }

        .nav-inner {
            left: 80px;
        }
    }

}