.b05 {
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    background: url("../img/present.png") 50% 50% no-repeat;
    background-size: cover;

    &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        content: '';
        position: absolute;
        background: rgba(0,0,0, 0.5);
    }

    .icon {
        z-index: 50;
        width: 78px;
        position: relative;
        margin: 0 auto 40px auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .text {
        z-index: 50;
        position: relative;
        font-size: 36px;
        line-height: 1;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 215px;
        padding-bottom: 215px;

        .text {
            font-size: 56px;
            padding-left: 30px;
            padding-right: 30px;
        }

    }

    @media (min-width: $screen-md-min) {

        padding-top: 60px;
        padding-bottom: 60px;

        .icon {
            width: 30px;
            margin: 0 auto 30px auto;
        }

        .text {
            font-size: 30px;
            line-height: 1;

            span {
                display: block;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        padding-top: 82px;
        padding-bottom: 82px;

        .icon {
            width: 40px;
            margin: 0 auto 40px auto;
        }

        .text {
            font-size: 42px;
            line-height: 1;

        }
    }
}