.b06 {
    color: #fff;
    overflow: hidden;
    max-width: 100%;
    background: #4cbddd;


    .review-inner {
        overflow: hidden;
        max-width: 100%;
        position: relative;
        @include clearfix();
    }

    .review {
        position: relative;
        padding: 60px 40px 60px 10px;

        .review-item {
            outline: none;
            padding: 0 10px 20px 10px;
        }

        .review-title {
            font-size: 32px;
            line-height: 1;
            margin-bottom: 30px;
        }


        .review-text {
            font-size: 20px;
            margin-bottom: 30px;

            p {
                margin-bottom: 15px;
            }
        }

        .slick-dots {
            left: 0;
            right: 0;
            z-index: 500;
            bottom: 30px;
            font-size: 0;
            line-height: 0;
            text-align: center;
            position: absolute;

            li {
                width: 14px;
                height: 14px;
                margin: 0 10px;
                display: inline-block;

                button {
                    width: 14px;
                    height: 14px;
                    border: none;
                    outline: none;
                    overflow: hidden;
                    padding: 0;
                    display: inline-block;
                    @include border-radius(50%);
                    background: rgba(255,255,255, 0.5);
                }

                &.slick-active {

                    button {
                        background: rgba(255,255,255, 1);
                    }
                }
            }
        }

    }

    .review-image {

        .review-image-item {
            border: none;
            outline: none;
        }
    }

    @media (min-width: $screen-sm-min) {

        .review {
            max-width: 640px;
            margin: 0 auto;
            position: relative;
            padding: 65px 170px 75px 50px;

            .review-item {
                outline: none;
            }

            .review-title {
                font-size: 44px;
            }

            .review-text {
                font-size: 24px;
            }

            .slick-dots {
                top: 50%;
                left: auto;
                width: 14px;
                right: 56px;
                bottom: auto;
                font-size: 0;
                line-height: 0;
                text-align: center;
                position: absolute;
                margin-top: -67px;

                li {
                    width: 14px;
                    height: 14px;
                    margin: 10px 0;
                    display: inline-block;

                    button {
                        width: 14px;
                        height: 14px;
                        border: none;
                        outline: none;
                        overflow: hidden;
                        padding: 0;
                        display: inline-block;
                        @include border-radius(50%);
                        background: rgba(255,255,255, 0.5);
                    }

                    &.slick-active {

                        button {
                            background: rgba(255,255,255, 1);
                        }
                    }
                }
            }

        }
    }

    @media (min-width: $screen-md-min) {

        .review {
            max-width: inherit;
            position: relative;
            padding: 40px 140px 40px 40px;

            .review-item {
                outline: none;
            }

            .review-title {
                font-size: 30px;
            }

            .review-text {
                font-size: 14px;

            }
        }
    }


    @media (min-width: $screen-lg-min) {

        .review {
            position: relative;
            padding: 30px 170px 30px 70px;

            .review-item {
                outline: none;
            }

            .review-title {
                max-width: 400px;
                font-size: 42px;
                margin-bottom: 40px;
            }

            .review-text {
                max-width: 400px;
                font-size: 16px;
                margin-bottom: 40px;

                .review-author {
                    font-size: 18px;
                    padding-top: 10px;
                }

            }
        }
    }
}

