.b04 {
    color: #fff;
    position: relative;
    padding: 60px 0 0 0;
    background: #548cd6;

    .h2 {
        margin-bottom: 90px;
    }

    .how-we-work {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            color: #fff;
            font-size: 20px;
            text-align: center;
            position: relative;
            margin-bottom: 60px;
            padding: 160px 30px 0 30px;
        }


        .item-image {
            top: 0;
            left: 50%;
            color: #fff;
            width: 260px;
            position: absolute;
            margin-left: -130px;

            img {
                width: 260px;
                height: auto;
            }
        }
    }

    @media (min-width: $screen-xs-min) {


    }

    @media (min-width: $screen-sm-min) {

        padding: 100px 0 0;

        .how-we-work {

            li {
                font-size: 32px;
                margin-bottom: 100px;
                padding: 190px 100px 0 100px;
            }

            .item-image {
                top: 20px;
                width: 290px;
                margin-left: -145px;

                img {
                    width: 290px;
                    height: auto;
                }
            }
        }

    }

    @media (min-width: $screen-md-min) {

        padding-top: 50px;
        padding-bottom: 50px;

        .h2 {
            margin-bottom: 50px;
        }

        .how-we-work {

            li {
                float: left;
                width: 33.33%;
                font-size: 17px;
                margin-bottom: 0;
                padding: 100px 50px 0 50px;
            }

            .item-image {
                top: 0;
                width: 156px;
                margin-left: -76px;

                img {
                    width: 156px;
                    height: auto;
                }
            }
        }

    }

    @media (min-width: $screen-lg-min) {

        padding-top: 75px;
        padding-bottom: 75px;


        .h2 {
            margin-bottom: 60px;
        }

        .how-we-work {

            li {
                font-size: 24px;
                padding: 150px 50px 0 50px;
            }

            .item-image {
                width: 220px;
                margin-left: -110px;
                img {
                    width: 220px;
                    height: auto;
                }
            }
        }
    }
}