.product-block {
    background: #3b3b3b;
    position: relative;

    .product {

        .product-robe {
            display: table;
        }

        .product-towel {
            display: none;
        }

        &.product-switch-marker {

            .product-robe {
                display: none;
            }

            .product-towel {
                display: block;
            }
        }
    }

    .bookmark {
        top: 0;
        left: 50%;
        color: #3b3b3b;
        width: 49px;
        z-index: 800;
        height: 131px;
        display: none;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin-left: -25px;
        position: absolute;
        background: url("../img/calc/bookmark.png") 0 0 no-repeat;

        span {
            margin-top: 45px;
            margin-left: -17px;
            position: relative;
            display: inline-block;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }

    .product-row {
        width: 100%;
        color: #fff;
        display: table;
        background: #3b3b3b;

        .product-params {
            width: 100%;
            position: relative;
            display: table-footer-group;
        }

        .product-visual {
            width: 100%;
            position: relative;
            display: table-header-group;

            .front {
                display: none;
            }

            .back {
                display: block;
            }

            .var1 {
                display: inline;
            }

            .var2 {
                display: none;
            }

            &.switch {

                .front {
                    display: block;
                }

                .back {
                    display: none;
                }

                .var1 {
                    display: none;
                }

                .var2 {
                    display: inline;
                }
            }
        }
    }

    .product-item {
        display: none;

        &.active {
            display: block;
        }

        &.woman {

            .front-print {
                right: 27%;
            }
        }

        &.kid {

            .back-print {
                top: 40%;
                left: 40%;
                right: 36%;

                .print-images {
                    margin-left: 12%;
                    margin-right: 12%;
                }

                .print-text {
                    margin: 0 0;
                    font-size: 15px;
                    line-height: 1.1;
                }
            }

            .front-print {
                top: 54%;
                right: 33%;
                width: 20%;
                position: absolute;

                .print-text {
                    color: #000;

                    font-size: 11px;
                    line-height: 1.2;
                    text-align: center;
                }
            }
        }

        &.family {

            .back-print {
                top: 40%;
                left: auto;
                right: 22%;
                width: 20%;

                .print-images {
                    margin-left: 12%;
                    margin-right: 12%;
                }

                .print-text {
                    margin: 0 0;
                    font-size: 15px;
                }
            }


            .front-print {
                top: 45%;
                right: 15%;
                width: 20%;
                position: absolute;

                .print-text {
                    color: #000;

                    font-size: 11px;
                    line-height: 1.2;
                    text-align: center;
                }
            }

            .front-print-woman {
                top: 60%;
                left: 27%;
                width: 20%;
                position: absolute;

                .print-text-woman {
                    color: #000;

                    font-size: 11px;
                    line-height: 1.2;
                    text-align: center;
                }
            }
        }
    }

    .view {
        position: relative;
    }

    .params-row {

        .gender-switch {
            font-size: 0;
            line-height: 0;
            display: none;
            max-width: 450px;
            margin-bottom: -22px;
            text-align: right;

            li {
                font-size: 14px;
                line-height: 20px;
                display: inline-block;
                position: relative;

                &:last-child {

                    &:before {
                        font-size: 10px;
                        width: 16px;
                        content: '|';
                        color: #aaa;
                        display: inline-block;
                        text-align: center;
                    }
                }

                a {
                    color: #aaa;
                    text-decoration: none;
                    border-bottom: 1px dashed #aaa;

                    &:hover {
                        color: #fff;
                        border-color: #fff;
                    }
                }

                &.active {

                    a {
                        color: #fff;
                        border-color: transparent;
                    }
                }
            }
        }

        .params-col-two {
            display: none;
        }

        &.double {

            .gender-switch {
                display: block;
            }

            .params-col-one {
                display: none;

                &.current {
                    display: block;
                }
            }

            .params-col-two {
                display: none;

                &.current {
                    display: block;
                }
            }
        }
    }

    .robe-color {
        display: none;

        &.active {
            display: block;
        }
    }

    .params {
        padding: 20px;

        .params-group {
            margin-bottom: 15px;
        }

        .params-title {
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 30px;

            a {
                color: #aaaaaa;
                line-height: 1.1;
                text-decoration: none;
                border-bottom: 1px dashed #aaaaaa;
            }
        }

        .params-group-title {
            color: #aaa;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 15px;
            text-transform: lowercase;
        }

        .robe-type {
            margin: 0 0 20px 0;
            padding: 0;
            width: 100%;
            overflow: hidden;
            list-style: none;
            border: 1px solid #aaa;
            @include border-radius(4px);


            li {
                float: left;
                width: 50%;
                border-left: 1px solid #aaa;

                &:first-child {
                    border-left: none;
                    border-bottom: 1px solid #aaa;
                }

                &:nth-child(2) {
                    border-bottom: 1px solid #aaa;
                }

                &:nth-child(3) {
                    border-left: none;
                }

                &:last-child {

                    label {
                        background: url("../img/calc/mask.png");
                    }
                }


                label {
                    color: #aaa;
                    width: 100%;
                    padding: 4px 0;
                    font-size: 20px;
                    font-weight: 400;
                    cursor: pointer;
                    line-height: 30px;
                    text-align: center;
                    display: inline-block;
                    text-transform: lowercase;

                    &.checked {
                        color: #fff;
                        background: #262626;
                    }
                }

                input[type='radio'] {
                    display: none;
                }
            }
        }

        .robe-colors {
            padding: 0;
            margin: 0 -5px;
            list-style: none;
            @include clearfix();

            li {
                float: left;
                width: 24px;
                height: 24px;
                margin: 0 5px;

                @include border-radius(50%);

                &.robe-white {
                    background: #fff;
                }

                &.robe-dark {
                    background: #323232;
                }

                &.robe-brick {
                    background: #bf2c2a;
                }

                &.robe-nice-blue {
                    background: #1060ac;
                }

                &.robe-gray {
                    background: #dadada;
                }

                &:checked {
                    border-color: #000;
                }

                label {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    display: inline-block;

                    &.checked {

                        &:before {
                            top: -5px;
                            left: -5px;
                            right: -5px;
                            bottom: -5px;
                            content: '';
                            position: absolute;
                            border: 1px solid #6a6a6a;
                            @include border-radius(50%);
                        }

                        &:after {
                            top: 50%;
                            left: 50%;
                            width: 8px;
                            height: 8px;
                            content: '';
                            z-index: 20;
                            margin-left: -4px;
                            margin-top: -4px;
                            position: absolute;
                            background: rgba(0,0,0,0.1);
                            @include border-radius(50%);
                        }
                    }
                }

                input[type="radio"] {
                    display: none;
                }
            }
        }

        .params-text {
            margin: 0 -10px 10px -10px;
            @include clearfix();

            li {
                width: 50%;
                float: left;
                padding: 0 10px;

                .params-file {
                    padding: 10px 0px;

                    .file {
                        color: #fff;
                        font-size: 16px;
                        line-height: 19px;
                        cursor: pointer;
                        border-bottom: 1px dashed #fff;
                    }
                }
            }
        }

        .params-fonts {

            li {
                float: left;
                margin: 0 6px 0 0;

                &:last-child {
                    display: none !important;
                    padding-top: 7px;
                }


                &:hover {
                    color: #fff;
                }

                &.UniSans {
                    font-family: "UniSansHeavyCAPS";
                }

                &.BellMT {
                    font-family: 'BellMT';
                }

                &.ArialRoundedMTBold {
                    font-family: 'ArialRoundedMTBold';
                }

                &.Arial-Black {
                    font-family: 'Arial-Black';
                }

                &.UniSansThinCAPS {
                    font-family: 'UniSansThinCAPS';
                }

                &.Pribambas {
                    font-family: 'Pribambas';
                }

                &.OldLondon {
                    font-family: 'OldLondon';
                }

                &.MonAmourOne {
                    font-family: 'MonAmourOne';
                }

                &.Hermes {
                    font-family: 'Hermes';
                }

                &.LifehackBasic-Regular {
                    font-family: 'LifehackBasic-Regular';
                }

                &.LifehackItalic-Bold {
                    font-family: 'LifehackItalic-Bold';
                }



                .fonts-more {
                    color: #aaa;
                    font-size: 16px;
                    line-height: 19px;
                    display: inline-block;
                    border-bottom: 1px dashed #aaa;
                }

                label {
                    color: #aaa;
                    cursor: pointer;
                    font-size: 22px;
                    line-height: 30px;
                    padding: 5px 5px;
                    display: inline-block;

                    &.checked {
                        color: #fff;
                    }

                    &:hover {
                        color: #fff;
                        border-color: #fff;
                    }
                }

                input[type="radio"] {
                    display: none;
                }
            }
        }

        .params-image {

            li {
                width: 29px;
                float: left;
                margin-right: 10px;

                &:last-child {
                    width: auto;
                }
            }


            .image-more {
                color: #aaa;
                font-size: 16px;
                line-height: 19px;
                cursor: pointer;
                display: block;
                white-space: nowrap;
                border-bottom: 1px dashed #aaa;

                &:hover {
                    color: #fff;
                    border-color: #fff;
                }
            }

            label {
                width: 100%;
                cursor: pointer;
                display: inline-block;

                svg {
                    fill: #aaa;
                }

                &:hover {
                    svg {
                        fill: #fff;
                    }
                }
            }

            input[type="radio"] {
                display: none;
            }


            input[type=radio]:checked + label svg{
                fill: #fff;
            }

        }

        .params-colors {
            padding: 0;
            max-width: 550px;
            margin: 0 -6px;
            list-style: none;
            @include clearfix();


            li {
                float: left;
                width: 28px;
                height: 28px;
                margin: 0 6px 12px 6px;
                @include border-radius(50%);

                label {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    display: inline-block;


                    &.checked {

                        &:before {
                            top: -6px;
                            left: -6px;
                            right: -6px;
                            bottom: -6px;
                            content: '';
                            position: absolute;
                            border: 1px solid #6a6a6a;
                            @include border-radius(50%);
                        }

                        &:after {
                            top: 50%;
                            left: 50%;
                            width: 8px;
                            height: 8px;
                            content: '';
                            z-index: 20;
                            margin-left: -4px;
                            margin-top: -4px;
                            position: absolute;
                            background: rgba(0,0,0,0.1);
                            @include border-radius(50%);
                        }
                    }
                }

                input[type="radio"] {
                    display: none;
                }
            }
        }

        .params-size {
            padding: 0;
            max-width: 540px;
            margin: 0 -6px;
            list-style: none;
            @include clearfix();

            li {
                float: left;
                margin: 0 8px 10px 8px;

                label {
                    color: #aaa;
                    outline: none;
                    cursor: pointer;
                    font-size: 20px;
                    line-height: 24px;
                    position: relative;
                    display: inline-block;
                    text-transform: uppercase;
                    border-bottom: 1px dotted #aaa;

                    &.checked {
                        color: #fff;
                        border-bottom-color: transparent;
                    }
                }

                input[type="radio"] {
                    display: none;
                }
            }
        }
    }

    .finished {
        margin: 0 -5px;

        li {
            float: left;
            padding: 0 5px 10px 5px;
        }
    }

    .price {
        top: 20px;
        left: 20px;
        z-index: 500;
        position: absolute;
        @include clearfix();


        li {
            float: left;

            &.price-value {
                color: #fff;
                font-size: 29px;
                padding: 2px 5px;
                line-height: 41px;
                background: #f63149;
                @include border-radius(3px);
                margin-right: 10px;
            }

            &.price-dop {
                z-index: 500;
                color: #3b3b3b;
                font-size: 15px;
                padding: 2px 5px;
                line-height: 41px;
                font-weight: 500;
            }
        }
    }

    .view-nav {
        top: 20px;
        right: 20px;
        width: 80px;
        padding: 20px;
        z-index: 500;
        position: absolute;
        @include border-radius(3px);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(59, 59, 59, 0.5);

        li {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 10px;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                width: 100%;
                padding: 5px 0;
                text-decoration: none;
                display: inline-block;


                .w-icon {
                    width: 20px;
                    margin: 0 auto 10px auto;
                }

                &.view-choice {
                    color: #e4e4e4;
                }

                &.view-hood {
                    color: #4cbddd;
                }

                &.view-side {
                    color: #ffbf01;
                }
            }
        }
    }

    .back-print {
        top: 50%;
        left: 37%;
        right: 33%;
        position: absolute;

        &.reverse {

            .print-inner {
                padding-top: 32%;
            }

            .print-images {
            }

            .print-text {
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
            }
        }


        .print-inner {
            width: 100%;
            position: relative;
        }

        .print-images {
            margin: 0 auto 10px auto;
            position: relative;

            .print-image-item {
                width: 100%;
                display: none;

                &.active {
                    width: 100%;
                    display: block;
                }
            }
        }


        .print-text {
            color: #000;
            font-size: 14px;
            line-height: 1.1;
            text-align: center;;
        }
    }

    .back-print {

        .print-text {
            height: 100px;
        }
    }

    .front-print {
        top: 68%;
        right: 22%;
        width: 20%;
        text-align: center;
        position: absolute;

        .print-text-woman {
            color: #000;
            font-size: 11px;
            line-height: 1.1;
            text-align: center;
        }
    }

    .back-print-woman {
        top: 53%;
        right: auto;
        left: 19%;
        width: 16%;
        position: absolute;

        &.reverse {

            .print-inner {
                padding-top: 32%;
            }

            .print-text-woman {
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
            }
        }

        .print-inner {
            width: 100%;
        }

        .print-images-woman {
            margin-left: 12%;
            margin-right: 12%;
            position: relative;

            .print-image-item {
                width: 100%;
                display: none;

                &.active {
                    width: 100%;
                    display: block;
                }
            }
        }

        .print-text-woman {
            color: #000;
            font-size: 14px;
            line-height: 1.1;
            text-align: center;
        }
    }

    .back-print-woman {

        .print-text-woman {
            height: 80px;
        }
    }

    .print-text {
        width: 100% !important;
    }

    .print-text-source {
    }

    // Order

    .order {
        display: none;
        padding: 20px;

        .order-title {
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        .order-detail {
            color: #ffbf01;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.1;
            margin-bottom: 30px;
        }

        .form-text {
            color: #aaa;
            font-size: 16px;
            line-height: 20px;
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }

    // pickup

    .pickup-block {
        padding: 20px;

        .pickup-title {
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        .pickup-address {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .pickup-map {
            overflow: hidden;
            max-width: 100%;
            display: block;
            margin-top: 40px;
            position: relative;
        }

        #map1 {
            width: 100% !important;
            height: 300px;
            position: relative;
        }
    }


    .ymaps-2-1-41-map {
        width: 100% !important;
    }


    @media (min-width: $screen-sm-min) {


        .product-params {


            .params-title {
                font-size: 36px;
                line-height: 40px;
            }

            .robe-type {
                width: 100%;
                max-width: 450px;

                li {
                    width: 25%;
                    float: left;

                    &:first-child {
                        border-bottom: none;
                    }

                    &:nth-child(2) {
                        border-bottom: none;
                    }

                    &:nth-child(3) {
                        border-left: 1px solid #aaa;
                    }
                }
            }

            .params-size {

                li {

                    label {
                        font-size: 30px;
                        line-height: 34px;
                    }
                }
            }
        }

        .price {
            top: 40px;
            left: 45px;

            li {
                &.price-value {
                    font-size: 40px;
                    line-height: 50px;
                    padding: 6px 12px;
                }

                &.price-dop {
                    font-size: 24px;
                    line-height: 50px;
                    padding: 6px 12px;
                }
            }
        }

        .view-nav {
            top: 40px;
            right: 30px;
            width: 126px;
            padding: 30px 25px;

            li {
                font-size: 16px;
                line-height: 18px;
            }

        }

        .params {
            padding: 30px 35px 30px 40px;
        }

        .back-print {

            &.reverse {

                .print-inner {
                    padding-top: 20%;
                }
            }

            .print-text {
                color: #000;
                font-size: 20px;
                line-height: 1.1;
                text-align: center;;
            }
        }

        .back-print-woman {

            &.reverse {

                .print-inner {
                    padding-top: 20%;
                }
            }

            .print-text-woman {
                color: #000;
                font-size: 15px;
                line-height: 1.1;
                text-align: center;
            }
        }

        // Order

        .order {
            padding: 30px 35px 30px 40px;

            .order-title {
                font-size: 40px;
                margin-bottom: 20px;
            }

            .order-detail {
                font-size: 20px;
            }
        }

        .pickup-block {
            padding: 30px 40px 30px 40px;

            .pickup-title {
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
    }


    @media (min-width: $screen-md-min) {

        .bookmark {
            display: block;
        }

        .product-row {

            .product-params {
                width: 50%;
                vertical-align: top;
                display: table-cell;
            }

            .product-visual {
                width: 50%;
                vertical-align: top;
                display: table-cell;
            }
        }

        .params {
            padding: 20px;

            .params-group {
                margin-bottom: 6px;
            }

            .params-title {
                font-size: 29px;
                line-height: 33px;
                margin-bottom: 20px;
            }

            .params-group-title {
                font-size: 11px;
                line-height: 14px;
                margin-bottom: 10px;
            }

            .robe-type {

                li {

                    label {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }

            .params-colors {
                margin: 0 -5px;
                max-width: 400px;

                li {

                    width: 20px;
                    height: 20px;
                    margin: 0 5px 9px 5px;

                    label {

                        &.checked {

                            &:before {
                                top: -5px;
                                left: -5px;
                                right: -5px;
                                bottom: -5px;
                            }
                        }
                    }
                }
            }

            .params-text {
                margin: 0 -10px 10px -10px;

                li {

                    .params-file {
                        padding: 4px 0px;

                        .file {
                            font-size: 15px;

                        }
                    }
                }
            }

            .params-size {

                li {

                    label {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        .price {
            top: 40px;
            left: 45px;

            li {
                &.price-value {
                    font-size: 29px;
                    padding: 2px 5px;
                    line-height: 41px;
                }

                &.price-dop {
                    font-size: 15px;
                    padding: 2px 5px;
                    line-height: 41px;
                }
            }
        }

        .view-nav {
            top: 40px;
            right: 30px;
            width: 126px;
            padding: 20px;

            li {
                font-size: 14px;
                line-height: 14px;
            }
        }

        .finished {
            padding-bottom: 0;

            li {
                padding-bottom: 0;
            }

            .btn,
            .btn-transparent,
            .btn-table-size {
                font-size: 14px;
                line-height: 18px;
                padding: 6px 15px;
            }


            .btn-transparent {
                padding: 5px 15px;
            }
        }


        // Order

        .order {
            color: #fff;
            padding: 20px;

            .order-title {
                font-size: 28px;
                margin-bottom: 20px;
            }

            .order-detail {
                font-size: 16px;
            }
        }

        // pickup

        .pickup-block {
            padding: 20px 80px 20px 80px;

            .pickup-title {
                font-size: 28px;
                margin-bottom: 20px;
            }

            .pickup-address {

            }
        }
    }



    @media (min-width: $screen-lg-min) {

        .params {
            padding: 30px 40px 30px 80px;

            .params-group {
                margin-bottom: 15px;
            }

            .params-title {
                font-size: 29px;
                line-height: 33px;
                margin-bottom: 30px;
            }

            .params-group-title {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 15px;
            }

            .robe-type {

                li {

                    label {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }

            .params-text {
                margin: 0 -10px 10px -10px;

                li {

                    .params-file {
                        padding: 9px 0px;

                        .file {
                            font-size: 16px;

                        }
                    }
                }
            }


            .params-colors {
                margin: 0 -6px;
                max-width: 470px;

                li {
                    width: 24px;
                    height: 24px;
                    margin: 0 6px 12px 6px;

                    label {

                        &.checked {

                            &:before {
                                top: -6px;
                                left: -6px;
                                right: -6px;
                                bottom: -6px;
                            }
                        }
                    }
                }
            }

            .params-size {
                margin-bottom: 20px;

                li {

                    label {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }

            .finished {
            }
        }

        .finished {

            .btn,
            .btn-transparent,
            .btn-table-size {
                font-size: 20px;
                line-height: 20px;
                padding: 9px 20px;
            }
        }

        .price {

            li {
                &.price-value {
                    font-size: 40px;
                    line-height: 50px;
                    padding: 6px 12px;
                }

                &.price-dop {
                    font-size: 24px;
                    line-height: 50px;
                    padding: 6px 12px;
                }
            }
        }

        .view-nav {
            top: 40px;
            right: 30px;
            width: 126px;
            padding: 30px 25px;

            li {
                font-size: 14px;
                line-height: 16px;

                a {
                    .w-icon {
                        width: 26px;
                        margin: 0 auto 10px auto;
                    }
                }
            }
        }



        // Order

        .order {
            padding: 30px 80px 30px 80px;

            .order-title {
                font-size: 40px;
                margin-bottom: 20px;
            }

            .order-detail {
                font-size: 20px;
            }
        }


        // pickup

        .pickup-block {
            padding: 30px 90px 30px 90px;

            .pickup-title {
                font-size: 40px;
                margin-bottom: 20px;
            }

            .pickup-address {

            }
        }
    }
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.table-size {
    font-size: 16px;
    line-height: 20px;
    color: #aaa;
    text-align: left;
    padding: 20px 20px;
    background: #262626;


    .btn-close {
        color: #fff;
        padding: 5px 0;
        display: inline-block;
        text-decoration: none;

        span {
            border-bottom: 1px dashed #fff;
        }
    }

    @media (min-width: $screen-md-min) {

    }
}