.delivery-block {
    color: #fff;
    background: #3e8dc7;
}

.delivery {
    padding: 40px 30px;

    .delivery-title {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 30px;
    }

    .delivery-text {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .delivery-link {
        margin: 0;
        padding: 0;
        font-size: 14px;
        list-style: none;

        li {
            margin-bottom: 10px;

            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding: 40px 40px;

        .delivery-title {
            font-size: 42px;
        }

        .delivery-text {
            font-size: 24px;
        }

        .delivery-link {
            font-size: 18px;
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 20px 40px;

        .delivery-title {
            font-size: 30px;
        }

        .delivery-text {
            font-size: 16px;
        }

        .delivery-link {
            font-size: 14px;
        }
    }

    @media (min-width: $screen-lg-min) {
        padding: 20px 80px;

        .delivery-title {
            font-size: 42px;
        }

        .delivery-text {
            font-size: 24px;
        }

        .delivery-link {
            font-size: 18px;
        }
    }
}