@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/hinted-FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Light.ttf') format('truetype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/hinted-FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Book.ttf') format('truetype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/hinted-FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Medium.ttf') format('truetype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/hinted-FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Demi.woff2') format('woff2'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Demi.woff') format('woff'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Demi.ttf') format('truetype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/hinted-FuturaPT-Bold.eot');
    src: local('../fonts/FuturaPT/Futura PT Bold'), local('FuturaPT-Bold'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Bold.ttf') format('truetype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/hinted-FuturaPT-Heavy.eot');
    src: local('../fonts/FuturaPT/Futura PT Heavy'), local('FuturaPT-Heavy'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Heavy.woff2') format('woff2'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Heavy.woff') format('woff'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Heavy.ttf') format('truetype'),
    url('../fonts/FuturaPT/hinted-FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}


// -------------------------------------------------------

@font-face {
    font-family:'UniSansHeavyCAPS';
    src: url('../fonts/fonts/UniSansHeavyCAPS-Regular/UniSansHeavyCAPS_nohint.eot');
    src: url('../fonts/fonts/UniSansHeavyCAPS-Regular/UniSansHeavyCAPS_nohint.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/UniSansHeavyCAPS-Regular/UniSansHeavyCAPS_nohint.woff') format('woff'),
    url('../fonts/fonts/UniSansHeavyCAPS-Regular/UniSansHeavyCAPS_nohint.ttf') format('truetype'),
    url('../fonts/fonts/UniSansHeavyCAPS-Regular/UniSansHeavyCAPS_nohint.svg#UniSansHeavyCAPS-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'BellMT';
    src: url('../fonts/fonts/BellMT-Regular/BellMT_gdi.eot');
    src: url('../fonts/fonts/BellMT-Regular/BellMT_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/BellMT-Regular/BellMT_gdi.woff') format('woff'),
    url('../fonts/fonts/BellMT-Regular/BellMT_gdi.ttf') format('truetype'),
    url('../fonts/fonts/BellMT-Regular/BellMT_gdi.svg#BellMT-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'ArialRoundedMTBold';
    src: url('../fonts/fonts/ArialRoundedMTBold/ArialRoundedMTBold_gdi.eot');
    src: url('../fonts/fonts/ArialRoundedMTBold/ArialRoundedMTBold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/ArialRoundedMTBold/ArialRoundedMTBold_gdi.woff') format('woff'),
    url('../fonts/fonts/ArialRoundedMTBold/ArialRoundedMTBold_gdi.ttf') format('truetype'),
    url('../fonts/fonts/ArialRoundedMTBold/ArialRoundedMTBold_gdi.svg#ArialRoundedMTBold-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Arial-Black';
    src: url('../fonts/fonts/Arial-Black/Arial-Black_gdi.eot');
    src: url('../fonts/fonts/Arial-Black/Arial-Black_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/Arial-Black/Arial-Black_gdi.woff') format('woff'),
    url('../fonts/fonts/Arial-Black/Arial-Black_gdi.ttf') format('truetype'),
    url('../fonts/fonts/Arial-Black/Arial-Black_gdi.svg#Arial-Black') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

@font-face {
    font-family:'UniSansThinCAPS';
    src: url('../fonts/fonts/UniSansThinCAPS-Regular/UniSansThinCAPS_nohint.eot');
    src: url('../fonts/fonts/UniSansThinCAPS-Regular/UniSansThinCAPS_nohint.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/UniSansThinCAPS-Regular/UniSansThinCAPS_nohint.woff') format('woff'),
    url('../fonts/fonts/UniSansThinCAPS-Regular/UniSansThinCAPS_nohint.ttf') format('truetype'),
    url('../fonts/fonts/UniSansThinCAPS-Regular/UniSansThinCAPS_nohint.svg#UniSansThinCAPS-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'Pribambas';
    src: url('../fonts/fonts/Pribambas-Regular/Pribambas_gdi.eot');
    src: url('../fonts/fonts/Pribambas-Regular/Pribambas_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/Pribambas-Regular/Pribambas_gdi.woff') format('woff'),
    url('../fonts/fonts/Pribambas-Regular/Pribambas_gdi.ttf') format('truetype'),
    url('../fonts/fonts/Pribambas-Regular/Pribambas_gdi.svg#Pribambas-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-0451;
}

@font-face {
    font-family:'OldLondon';
    src: url('../fonts/fonts/OldLondon-Regular/OldLondon_gdi.eot');
    src: url('../fonts/fonts/OldLondon-Regular/OldLondon_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/OldLondon-Regular/OldLondon_gdi.woff') format('woff'),
    url('../fonts/fonts/OldLondon-Regular/OldLondon_gdi.ttf') format('truetype'),
    url('../fonts/fonts/OldLondon-Regular/OldLondon_gdi.svg#OldLondon-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-E001;
}

@font-face {
    font-family:'MonAmourOne';
    src: url('../fonts/fonts/MonAmourOne-Medium/MonAmourOne-Medium_gdi.eot');
    src: url('../fonts/fonts/MonAmourOne-Medium/MonAmourOne-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/MonAmourOne-Medium/MonAmourOne-Medium_gdi.woff') format('woff'),
    url('../fonts/fonts/MonAmourOne-Medium/MonAmourOne-Medium_gdi.ttf') format('truetype'),
    url('../fonts/fonts/MonAmourOne-Medium/MonAmourOne-Medium_gdi.svg#MonAmourOne-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Hermes';
    src: url('../fonts/fonts/Hermes-Regular/Hermes_gdi.eot');
    src: url('../fonts/fonts/Hermes-Regular/Hermes_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/Hermes-Regular/Hermes_gdi.woff') format('woff'),
    url('../fonts/fonts/Hermes-Regular/Hermes_gdi.ttf') format('truetype'),
    url('../fonts/fonts/Hermes-Regular/Hermes_gdi.svg#Hermes-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'LifehackBasic-Regular';
    src: url('../fonts/fonts/LifehackBasic-Regular/LifehackBasic-Regular_gdi.eot');
    src: url('../fonts/fonts/LifehackBasic-Regular/LifehackBasic-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/LifehackBasic-Regular/LifehackBasic-Regular_gdi.woff') format('woff'),
    url('../fonts/fonts/LifehackBasic-Regular/LifehackBasic-Regular_gdi.ttf') format('truetype'),
    url('../fonts/fonts/LifehackBasic-Regular/LifehackBasic-Regular_gdi.svg#LifehackBasic-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

@font-face {
    font-family:'LifehackItalic-Bold';
    src: url('../fonts/fonts/LifehackItalic-Bold/LifehackItalic-Bold_gdi.eot');
    src: url('../fonts/fonts/LifehackItalic-Bold/LifehackItalic-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/LifehackItalic-Bold/LifehackItalic-Bold_gdi.woff') format('woff'),
    url('../fonts/fonts/LifehackItalic-Bold/LifehackItalic-Bold_gdi.ttf') format('truetype'),
    url('../fonts/fonts/LifehackItalic-Bold/LifehackItalic-Bold_gdi.svg#LifehackItalic-Bold') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}