.footer {
    color: #474747;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 40px;

    .footer-container {
        margin: 0 auto;
        padding: 0 20px;
    }

    .footer-social {
        padding: 0;
        font-size: 0;
        line-height: 0;
        list-style: none;
        margin: 0 -10px 50px -10px;

        li {
            padding: 0 10px;
            margin-bottom: 10px;
            display: inline-block;

            a {
                color: #ffbf01;
                font-size: 20px;
                line-height: 1.1;
                display: inline-block;
                text-decoration: none;
                border-bottom: 1px dotted #ffbf01;
            }
        }
    }

    .footer-copy {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-payment {
        width: 108px;
        display: block;
        padding: 4px 0;
        margin-bottom: 30px;
        margin-right: 40px;
    }

    .footer-phone {
        height: 36px;
        color: #474747;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        position: relative;
        margin-bottom: 20px;
        text-decoration: none;
        padding: 3px 0 3px 90px;

        &:after,
        &:before {
            top: 0;
            width: 36px;
            height: 36px;
            content: ' ';
            position: absolute;
        }

        &:after {
            left: 40px;
            background: url("../img/whatsapp.png") 0 0 no-repeat;
            background-size: cover;
        }

        &:before {
            left: 0;
            background: url("../img/viber.png") 0 0 no-repeat;
            background-size: cover;
        }
    }

    .footer-logo {
        color: #23231c;
        width: 160px;
        position: relative;

        a {
            display: block;
            position: relative;

            &:hover {
                color: #ffbf01;
            }


        }

        object {
            width: 100%;

            #Fill-1 {
                fill: #23231c;

                &:hover {
                    fill: #ffbf01;
                }
            }

        }
    }

    @media (min-width: $screen-xs-min) {

        .footer-social {
            margin-bottom: 90px;

            li {

                a {
                    font-size: 24px;
                }
            }
        }

        .footer-copy {
            font-size: 24px;
        }

        .footer-logo {
            width: 200px;

        }
    }

    @media (min-width: $screen-sm-min) {

        .footer-container  {
            max-width: 640px;
            padding: 0 50px;
        }
    }

    @media (min-width: $screen-md-min) {
        padding-top: 46px;
        padding-bottom: 46px;

        .footer-container  {
            max-width: 1024px;
            padding: 0 50px;
        }

        .footer-social {
            float: left;
            margin-bottom: 0;

            li {
                padding: 8px 10px;

                a {
                    font-size: 12px;
                    border-bottom: 1px solid #ffbf01;
                }
            }
        }

        .footer-phone {
            float: left;
            margin-right: 30px;
        }

        .footer-copy {
            float: left;
            font-size: 12px;
            margin-bottom: 0;
            padding: 8px 0;
            line-height: 20px;
            margin-right: 30px;
        }

        .footer-logo {
            float: right;
            width: 85px;
            padding-top: 5px;

        }

        .footer-payment {
            float: left;
        }
    }

    @media (min-width: $screen-lg-min) {
        padding-top: 65px;
        padding-bottom: 65px;

        .footer-container {
            padding-left: 80px;
            padding-right: 80px;
            max-width: inherit;
        }

        .footer-copy {
            font-size: 16px;
            margin-right: 40px;
        }

        .footer-payment {
            float: left;

        }

        .footer-phone {
            float: left;
            height: 36px;
            color: #474747;
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            position: relative;
            margin-right: 130px;
            text-decoration: none;
            padding: 3px 0 3px 90px;

            &:after,
            &:before {
                top: 0;
                width: 36px;
                height: 36px;
                content: ' ';
                position: absolute;
            }

            &:after {
                left: 40px;
                background: url("../img/whatsapp.png") 0 0 no-repeat;
                background-size: cover;
            }

            &:before {
                left: 0;
                background: url("../img/viber.png") 0 0 no-repeat;
                background-size: cover;
            }
        }


        .footer-social {

            li {
                padding: 8px 10px;

                a {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        .footer-logo {
            width: 118px;
            margin-top: -2px;
        }
    }
}