.header {
    background: #fff;
    padding-top: 44px;
    padding-bottom: 44px;

    .header-inner {
        padding: 0 30px;
    }

    .nav {
        text-align: left;
        margin-bottom: 20px;
    }

    .logo {
        width: 170px;
        display: block;
        margin: 0 0 20px 0;
    }

    .footer-order {
        text-align: left;
    }

    @media (min-width: $screen-sm-min) {

        .header-inner {
            padding: 0 40px;
        }

        .nav {
            margin-bottom: 0;
            text-align: left;
        }

        .logo {
            margin: 0 auto;
        }

        .footer-order {
            text-align: right;
        }
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

        .header-inner {
            padding: 0 80px;
        }
    }
}

