.btn {
	margin:0;
	border: none;
	outline: none;
	color: $black-two;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 10px 25px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include transition(.2s);
	@include border-radius(3px);
	border-top: 1px solid #ffc800;
	border-bottom: 1px solid #ffab04;
	@include gradient-vertical(#ffc800, #ffab04);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	@include box-shadow(0 9px 16px 0 rgba(182, 119, 4, 0.42));

	&:hover {
		color: $black-two;
		@include gradient-vertical(#ffbf01, #ffbf01);
		text-decoration: none;
	}

	&:active {
		@include gradient-vertical(#ffab04, #ffab04);
	}
}

.btn-transparent {
	margin:0;
	outline: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 9px 20px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	touch-action: manipulation;
	@include transition(.2s);
	@include border-radius(3px);
	border: 1px solid #fff;

	&:hover {
		color: #fff;
		background: #262626;
		text-decoration: none;
	}

	&:active {
	}
}

.btn-table-size {
	margin:0;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	position: relative;
	padding: 6px 20px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	touch-action: manipulation;

	span {
		display: inline-block;
		border-bottom: 1px dashed #fff;
	}

	&:hover {
		color: #fff;

	}

}

