.form-control {
	margin: 0;
	width: 100%;
	color: #fff;
	outline: none;
	font-size: 16px;
	line-height: 20px;
	padding: 9px 10px;
	display: inline-block;
	background: #474747;
	border: 1px solid #474747;
	@include placeholder(#fff);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #fff;
		border-color: #ffbf01;
		@include placeholder(transparent);
	}

	&.error {
		color: #fff;
		border-color: #f63149;
	}


	@media (min-width: $screen-md-min) {
		font-size: 14px;
		padding: 4px 10px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 16px;
		padding: 9px 10px;
	}
}


.select-main {
	display: block;
	width: 100%;

	.select-main-link {
		margin: 0;
		width: 100%;
		color: #fff;
		outline: none;
		font-size: 16px;
		line-height: 20px;
		padding: 9px 10px;
		display: inline-block;
		border: 1px solid #474747;
		@include placeholder(#fff);
		@include border-radius(3px);
		background: #474747 url("../img/select.png") 100% 50% no-repeat;

		&:hover {
			color: #fff;
			background: #474747 url("../img/select.png") 100% 50% no-repeat;
		}
	}


	.ik_select_link_text {
		overflow: hidden;
	}

	@media (min-width: $screen-md-min) {

		.select-main-link {
			font-size: 14px;
			padding: 4px 10px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.select-main-link {
			font-size: 16px;
			padding: 9px 10px;
		}
	}
}


.select-style-blue {

	.select-main {

		.select-main-link {
			color: #fff;
		}
	}
}

.ik_select_dropdown {

	.ik_select_list_inner {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid #474747;

			li {
				color: #fff;
				font-size: 16px;
				line-height: 20px;
				cursor: pointer;
				padding: 9px 10px;
				background: #474747;

				&:hover {
					color: #fff;
					background: #222;
				}


				@media (min-width: $screen-md-min) {

					font-size: 14px;
					padding: 4px 10px;
				}

				@media (min-width: $screen-lg-min) {

					font-size: 16px;
					padding: 9px 10px;
				}
			}
		}
	}
}





.form-label {
	color: #aaaaaa;
	font-size: 16px;
	margin-bottom: 8px;
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 15px;
}