@media (max-width: 500px) {

    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 25px;
        border: 1px solid #ddd;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .table {
            margin-bottom: 0;
        }
    }
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;


    th {
        min-width: 130px;
        font-weight: 400;
        padding: 7px 5px;
        text-align: left;
    }

    td {
        padding: 5px 5px;
        text-align: left;
    }
}